matplotlib~=3.5.3
numpy~=1.23.1
dill~=0.3.5.1
fire~=0.4.0
plotly~=5.9.0
pytest~=7.1.2
coverage~=6.4.3
codecov~=2.1.12
pdoc3~=0.10.0
SciencePlots~=1.0.9
lock-requirements~=0.1.1
isort~=5.10.1
pycodestyle~=2.9.1
pep8-naming~=0.13.1
flake8-noqa~=1.2.8
flake8~=5.0.4
ttws~=0.8.3
autopep8~=1.7.0
